@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body {
    background: #EFF1F7;
    font-family: 'Nunito', sans-serif;
}

:root {
    --stripe-color: #fa6381;
    --monitor-color: #4668fd;
    --wall-color: #d8d7c3;
}

.content {
    grid-area: content;
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--wall-color);
    background-image: linear-gradient(45deg, var(--wall-color) 0%, var(--wall-color) 100%);
    justify-content: center;
    height: 30px;
}

.footer {
    display: grid;
    place-content: center;
    height: 100px;
    grid-area: footer;
    background: white;

}

.container {
    font-size: 1.5em;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "sidebar"
        "content"
        "footer";
}

.content,
.sidebar,
.footer {
    padding: 1em;
    border-radius: 10px;

}

nav ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0px;
}

nav li {

    list-style: none;
    padding: 0;
}

nav li a {
    color: rgb(58, 58, 58);
    font-weight: 700;
    opacity: 0.6;
    text-decoration: none;
    transition: 0.3s;
    font-size: 15px;
}

nav li a:hover {
    opacity: 1;

    box-shadow: -5px 2px 0px 2px rgb(50 43 50);


}

.hero {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;

}

.hero img {
    width: 200px;
    height: 200px;
}

.profileImage {
    object-fit: cover;
    border-style: solid;
    border-radius: 50%;
    border-width: 1px;
    border-color: rgb(49, 49, 49);
}

.hero h1 {
    font-size: 2em;
    font-weight: 300;
    color: #373d46;
}

.hero p {
    font-weight: 300;
    line-height: 1.8em;
    color: #98a0ad;
}

.headerDesc {
    display: grid;
    place-content: center;
    justify-items: center;
    background: var(--wall-color);
    border-radius: 15px;
    color: #636363;

}

.headerDesc p {
    width: 100% !important;
}

.headerDesc h2 {
    color: #373d46;
}

.action-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 700;
    background: var(--monitor-color);
    padding: 10px 30px 10px 30px;
    border-radius: 40px;
    margin: 1em 0;
    transition: 0.3s;
}


.action-btn:hover {
    box-shadow: 0 10px 50px var(--wall-color);
}

.column {
    float: left;
    width: 30%;
    text-decoration: none;
    cursor: pointer;

}

.row {
    margin: 0 -5px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (min-width: 1630px) {
    .column {
        width: 420px;
        display: block;
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 1400px) {
    .column {
        width: 45%;
        display: block;
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}



.card {
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    padding: 16px;
    margin: 15px;
    text-align: center;
    background-color: var(--wall-color);
    border-radius: 15px;
    color: white;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.card img {
    width: 85%;
    padding: 12.5px;
}


.card p {
    font-size: 13px;
}

.card h5,
.card p {
    padding: 0;
    margin: 0;

}

footer ul {
    grid-gap: 10vw;
    max-width: 640px;
    margin: 2em auto;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

footer ul li {
    list-style: none;
    align-self: flex-end;
}

footer ul li a {
    text-decoration: none;
    color: #c1c6ce;

}

.icons {
    font-size: 40px;
    transition: 0.5s;
}

.icons:hover {
    color: var(--monitor-color);
}

footer p {
    font-size: 0.8em;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav {
    margin-top: -28px;
}


@media (min-width: 1040px) {
    nav {
        margin-top: 0;
    }

    .container {
        grid-template-areas:
            "sidebar content"
            "sidebar footer";
        grid-template-columns: 300px 1fr;
        grid-template-rows: 1fr auto;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        flex-flow: column;
    }

    nav li a {
        font-size: 25px;
    }

    nav li {
        padding: 1em 0;
    }

    .sidebar {
        background-color: #dedcc9;
        background-image: linear-gradient(45deg, #eef1f7 0%, #e4e0cb 100%);
        padding-top: 3em;
        border-radius: 15px;
        height: 100%;
        position: fixed;
        width: 180px;
    }

    .hero {
        text-align: left;
        margin: 2em auto;
    }

    .hero img {

        float: right;
    }

    .hero h1 {
        font-size: 3em;
    }

    .hero p {
        width: 60%;
    }

    footer ul {
        max-width: 960px;
        margin: 0 auto;
        padding: 2em 0;
    }

    .icons {
        font-size: 35px;
    }
}





/* Pulse animation */
.pulse {
    border-radius: 15px;
    box-shadow: 0 0 0 rgba(255, 111, 111, 0.4);
    animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 111, 111, 0.4);
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 111, 111, 0.4);
        box-shadow: 0 0 0 0 rgba(255, 111, 111, 0.4);
    }

    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}